body {
    background-color: #fefae0
  }
  .nav {
    display:  grid;
    grid-template-columns: 4fr 1fr 1fr;
    margin-left: 6vw;
    color: #606c38;
    }  
  
  .headline-tag {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 32vh;
    font-family: 'Roboto', sans-serif;
    color: #606c38
    }
    
    .headline-tag sub {
      height: 5vh;
      font-weight: bold;
      text-transform: capitalize;
    }
  
    .headline-tag a {
      border: solid grey;
      border-radius: .5em;
      color: black;
      display: inline-block;
      padding: 4px 14px;
      text-decoration: none;
      line-height: 35px;
      background-color: #dda15e
    }
  
    .headline-tag a:hover {
      background-color: #bc6c25;
      font-weight: bold;
    }
  
    .headline-tag:after, .sponsors:after, .quote2:after, .why:after, .lorem:after{
      content: "";
      display: block;
      border: 1px solid grey;
      width: 80%;
      margin: 20px auto;
    }
  
    .lorem, .quote2 {
      font-style: italic; 
      font-weight: bold;
    }
  
    .lorem blockquote:before, .quote2 blockquote:before {
      content: open-quote;
    }
    
    .lorem blockquote, .quote2 blockquote {
      margin-left: auto;
      margin-right: auto;
      width: 45%;    
    }
  
    .lorem blockquote:after, .quote2 blockquote:after {
      content: close-quote;
    }
  
    .lorem p, .quote2 p {
      width: 30%;
      margin-left: auto;
    }
  
    .lorem p:before, .quote2 p:before {
      content: '--'
    }
  
    .why h2 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #606c38
    }
  
    .why ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
      margin-left: 8%;
      font-family: 'Roboto', sans-serif;
      color: #283618
    }
  
    .why ul li img{
      float:left;
    }
  
    .why ul li p{
      display: flex;
    }
  
    .team {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #606c38;
    }
   
    .team ul {
      width: 50%;
      margin-left: 23%;
      margin-right: 14%;
      justify-content: center;
    }
  
    .team li {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      padding: 2vw;
    }
  
    .team img {
      border-radius: 5em; 
      filter: sepia(80)
    }
  
    .team ul {
      display: flex;
      flex-wrap: wrap;
    }
    
    .sponsors {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #606c38;
  }
  
    .sponsors li {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      padding: .5vw;
    }
  
    .sponsors ul {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      width: 90%;
    }
  
    li {
      list-style-type: none;   
    }
  
    .footer {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      width: 40%;
      margin-left: 10%;
      font-family: 'Roboto', sans-serif;
      color: #dda15e;
    }