* {
  border: black 1px solid;
}
nav ul {
  border: 2px solid blue;
  display: grid;
  grid-template: 40px / 3fr 2fr 2fr;
  background-color: aqua;
}

nav ul li:first-of-type{
  grid-column-start: 1;
  grid-column-end: 2;
  color: orange;
}

nav ul li:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  color: red;
} 

nav ul li:nth-of-type(3) {
  grid-column-start: 3;
  color: purple;
} 

section h1 {
  text-align: center;
}

div>section:first-of-type {
  border: 2px solid limegreen;
  display: grid;
  grid-column-start: 80px 40px 40px;
  background-color: limegreen;
}