main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form section {
  display: flex;
  margin: 1.5rem;
  justify-content: left;
}

form label {
  margin: 4px;
  font-weight: bold;
}
