.nav-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding-inline-start: 0px;
}

.nav-container * {
  font-family: 'Roboto', sans-serif;
}

#startrly {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  flex-flow: row wrap;
  flex-basis: 30%;
}

#try-now {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-flow: row wrap;
}

#about {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-flow: row wrap;
}

.section-one-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center
}

.section-one-container * {
  font-family: 'Roboto', sans-serif;
}

sub {
  padding: 2rem;
}

a[href="#"] {
  background-color: white;
  color: black;
  border: 2px solid gray;
  border-radius: 10%;
  padding: 2px 5px;
  align-self: center;
  text-decoration: none;
}

.section-blockquote-one-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: gray;
}


