body {
  font-family: helvetica, sans-serif;
}

body ul {
  list-style: none;
}

hr { 
  margin-top: 100px; 
  margin-bottom: 100px;
}

.grid  {
  display: grid;
}

.flexbox {
  display: flex;
}

#nav {
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  justify-content: space-around;
  font-size: 0.75em;
  font-weight: bold;
  padding-top: 25px;
}

#intro {
  text-align: center;
}

#intro>h1 {
  padding-top: 80px;
  font-size: 2.5em;
}

#intro>sub {
  font-size: 1.25em;
  font-weight: bold;
  padding-bottom: 75px;
  display: block;
}

#intro>a {
  border: lightgray 2px solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  color: black;
  font-size: 1.25em;
}

#intro>a:hover {
  color: red;
}

.quotes {
  font-family: times, serif;
  font-style: italic;
}


