/* * {
  border: solid 2px;
} */


body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

nav ul{
  display: grid;
  grid-template: 1fr/ 4fr 2fr 1fr;
  margin-top: 30px;
}

ul {
  list-style: none;
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
}

h1 {
  font-size: 4rem;
}

[href="#"] {
  margin: 3em;
  text-decoration-line: none;
  padding: 1%;
  border: solid 1px;
  border-radius: 5px;
}

section {
  border-bottom: solid gray 1px;
}

section > sub {
  font-size: 1.5rem;
  font-weight: bold;
}

#why > ul {
  border: solid;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 3fr;
}

#meet-the-team {
  border-bottom: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #FAF8AB;
}

#meet-the-team {
  margin: 2rem;
}

#meet-the-team > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 60%;
  margin-left: 20%;
}

#meet-the-team li {
  margin: 3rem;
}

#meet-the-team span {
  display: block;
}

.staff-photo {
  padding: 3px;
  border: solid grey 2px;
  border-radius: 50%;
  margin-top: 1rem;

}

#sponsors > ul {
  display: flex;
  flex-wrap: wrap;
}

#footer {
  display: grid;
  grid-template-columns: 20% auto;
  padding-left: 5%;
}

#footer ul {
  padding-left: 0;
}


