body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  list-style-type: none
}

nav ul {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

#startrly {
  grid-column-start: 1;
}

#try_now {
  grid-column-start: 4;
}

#about {
  grid-column-start: 5;
}

section blockquote {
  font-style: italic
}
